html, body {
    font-family: Verdana,sans-serif;
    font-size: 15px;
    line-height: 1.5;
}

/*carous1el style*/
.carousel-caption h3{
    
    font-size: 2em;
    font-weight: bold;
    
}

.carousel-caption h3 span{
    
    background-color: black;
    opacity: .8;
    padding: 6px;
      
    
}
.project-name{
    position: relative;
    text-align: center;
    color: white;
    
        
}

.top-left {
     position: absolute;
    top: 22px;
    left: 0px;
    background-color: black;
}